*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    text-decoration-line: none;
    border-radius: 4px;
}
body{
    background-color: #8ca3a3;
}
.container{
    height: fit-content;
    width: 50rem;
    background-color: #484f4f;
    border: 1px solid whitesmoke;
}
h1{
    font-size: 400%;
    color: whitesmoke;
    text-shadow: 1px 2px black;


}
p{
    font-size: 200%;
    color: #96897f;
}
