<title>About us</title>
<link rel="stylesheet" href="../css/styleabout.css">

<body>
    <div class="contact-box">
        <h1 class="box1">About us?</h1>
        <p class="box2">We are quite into <span>bears.</span></p>
        <div class="box3">
            <a href="/">
                <div>
                    <p>Main</p>
                </div>
            </a>
            <a href="/contact">
                <div>
                    <p>Contact</p>
                </div>
            </a>
        </div>
    </div>
</body>

</html>