<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-article.css">
    <link rel="icon" href="../images/icons/bear-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&family=Roboto+Mono:wght@100;400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@100&family=Roboto+Mono:wght@100;400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500&family=Open+Sans:wght@300&family=Poppins:wght@100&family=Roboto+Mono:wght@100;400&display=swap"
        rel="stylesheet">
    <title>Polar bear</title>
</head>

<body>
    <div class="container">
        <div class="text">
            <h1>Polar bear</h1>
            <p>The polar bear (Ursus maritimus) is a hypercarnivorous bear whose native range lies largely within the
                Arctic Circle, encompassing the Arctic Ocean, its surrounding seas and surrounding land masses. It is
                the largest extant bear species, as well as the largest extant land carnivore. A boar (adult male)
                weighs around 350–700 kg (770–1,540 lb), while a sow (adult female) is about half that size. Although it
                is the sister species of the brown bear, it has evolved to occupy a narrower ecological niche, with many
                body characteristics adapted for cold temperatures, for moving across snow, ice and open water, and for
                hunting seals, which make up most of its diet. Although most polar bears are born on land, they spend
                most of their time on the sea ice. Their scientific name means "maritime bear" and derives from this
                fact. Polar bears hunt their preferred food of seals from the edge of sea ice, often living off fat
                reserves when no sea ice is present. Because of their dependence on the sea ice, polar bears are
                classified as marine mammals.</p>
        </div>
        <div class="pic"><img src="/images/polar-bear.jpg" alt="Polar bear"></div>
    </div>
    <div class="button">
        <a href="/">
            <div><span>Go back</span></div>
        </a>
    </div>
</body>

</html>