<body>
    <link rel="stylesheet" href="../css/stylecontact.css">
    <title>Contact</title>
    <form id="form">
        <fieldset>
            <legend>What is the pawblem?</legend>
            <br>
            <t>Welcome </t>
            <span>{{user}}</span>
            <p>fellow bear lover, Did you like our page?</p>
            <input type="radio" name="dog" id="sheperd">
            <label for="sheperd">Beary good!</label>
            <input type="radio" name="dog" id="husky">
            <label for="husky">Bearly okay</label>
            <input type="radio" name="dog" id="doge">
            <label for="doge">Unbearable</label>
            <br>
            <br>
            <label for="message">now tail us...</label>
            <br>
            <textarea name="message" id="message" cols="30" rows="5">

            </textarea>
            <br>
            <input type="submit" value="Send">
            <input type="reset" value="Clean">
        </fieldset>
    </form>
    <div class="box3">
        <a href="/">
            <div>
                <p>Main</p>
            </div>
        </a>
        <a href="/about">
            <div>
                <p>About</p>
            </div>
        </a>
    </div>
</body>

</html>