<body>
    <link rel="stylesheet" href="../css/stylecontact.css">
    <title>Contact</title>
    <div class="form">
        <form action="/contact" method="POST">
            <fieldset>
                <legend>Is there any pawblem?</legend>
                <t>Welcome </t>
                <span>{{user}}</span>
                <p>fellow bear lover, what did you think about our page?</p>
                <div>
                    <input type="radio" name="opinion" value="good">
                    <label for="good">Beary good!</label>
                    <input type="radio" name="opinion" value="mi">
                    <label for="mid">Bearly okay</label>
                    <input type="radio" name="opinion" value="ba">
                    <label for="bad">Unbearable</label>
                </div>
                <div class="textcont">
                    <label for="message">now tail us...</label>
                    <textarea autofocus name="message" id="message" rows="15" cols="30">
                    </textarea>
                    {{#if error}}
                    <p class="fbtxt">You did not complain the right amount</p>
                    {{/if}}
                    <div class="buttons">
                        <button type="submit" class="button button-block" />Send</button>
                        <button type="clear" class="button button-block" />Reset</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
    <div class="box3">
        <a href="/">
            <div>
                <p>Main</p>
            </div>
        </a>
        <a href="/about">
            <div>
                <p>About</p>
            </div>
        </a>
    </div>
</body>

</html>