<title>We don't like your tone</title>
<link rel="stylesheet" href="./css/style-delete.css">

<div class="form">

    <div class="image-container">
        <img src="./images/intensive-care-bear.jpg" alt="Angry bear">
    </div>

    <div class="login">
        <h1>You seem to have a lot of <span>negative</span> emotion going on</h1>

        <h3> maybe it'd be okay for you to take a time out</h3>

        <form action="/delete" method="post">

            <button class="deletebutton button-block" type="submit" />DELETE ACCOUNT</button>

        </form>
        <h3>Or if you promise to behave</h3>

        <button class="button button-block" /><a href="/">Go Back</a></button>
    </div>
</div>