<title>We couldn't care any less</title>
<link rel="stylesheet" href="../css/styleabout.css">

<body>
    <div class="contact-box">
        <h1 class="box1">SORRY</h1>
        <p class="box2">We only care about <span>bear</span> peorple's opinions</p>
        <div class="box3">
            <a href="/register">
                <div class="join">
                    <p>J̶O̶I̶N̶U̶S̶</p>
                </div>
            </a>
            <a href="/">
                <div>
                    <p>go back</p>
                </div>
            </a>
        </div>
    </div>
</body>

</html>