<title>We are not a cult</title>
<link rel="stylesheet" href="./css/style-register.css">
<div class="form">

    <ul class="register-menu">
        <div class="button button-block"><a href="/register">Sign Up</a></div>
        <div class="button button-block"><a href="/log-in">Log In</a></div>
        <div class="button button-block"><a href="/">Back</a></div>
    </ul>

    <div class="tab-content">
        <form action="/" method="post">

            <div class="top-row">
                <div class="field-wrap">
                    <label>
                        Human Name
                    </label>
                    <input type="text" autocomplete="off" />
                </div>

                <div class="field-wrap">
                    <label>
                        Bear Name *
                    </label>
                    <input type="text" required autocomplete="off" />
                </div>
            </div>

            <div class="field-wrap">
                <label>
                    Email Address *
                </label>
                <input type="email" required autocomplete="off" />
            </div>

            <div class="field-wrap">
                <label>
                    Set A Password *
                </label>
                <input type="password" required autocomplete="off" />
            </div>

            <button type="submit" class="button button-block" />Get Started</button>

        </form>
    </div>
</div>