* {
    font-family: 'Open Sans', sans-serif;
}

img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.image-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    background-color: rgb(131, 10, 10);

}

.login {
    padding-top: .5rem;
}

span {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #96897f;
    font-style: bold;
    font-weight: 600;
    font-size: 150%
}

a {
    text-decoration: none;
    transition: .5s ease;
}

.form {
    background-color: #8ca3a3;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 4px 10px 4px;
}



h1 {
    text-align: center;
    font-weight: thin;
    margin: 0 0 40px;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid black;
    border-radius: 0;
}

textarea {
    border: 2px solid;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.button {
    border: 1px solid black;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: #e0e2e4;
    color: black;
    transition: all 500ms ease;
}

.deletebutton {
    border: 2px solid rgb(53, 3, 3);
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: rgb(131, 10, 10);
    color: black;
    transition: all 500ms ease;
}

.button a {
    color: black;
}

.button:hover {
    transform: scale(103%);

}

.deletebutton:hover {
    transform: scale(103%);

}

.button-block {
    display: block;
    width: 100%;
}

.fb1 {
    font-size: 1rem;
    /* font-weight: bold; */
    text-align: center;
}

.fb2 {
    color: #96897f;
    font-family: 'Cormorant SC', serif;
    font-style: bold;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fbtxt {
    margin: 0;
    font-family: 'Cormorant SC', serif;
    font-size: 1.5rem;
    color: rgb(131, 10, 10);
}

#logout {
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    background-color: rgb(131, 10, 10);
}