*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    text-decoration-line: none;
    border-radius: 4px;
}
body{
    background-color: #8ca3a3;
}
.container{
    display: flex;
    flex-direction: row;
}
.text h1{
    font-size: 80px;
    font-style: bold;
    font-weight: 300;
    text-shadow: 3px 3px gray;
}
.text p{
    font-size: 25px;
}
p::first-letter{
    font-size: 50px;
    font-weight: 200;
    font-style: bold;
    text-decoration: underline solid 1px;
}
.pic{
    align-self: center;
    box-sizing: content-box;
    margin: 4px;
    padding: 0;
}
.pic img{
    border: 2px solid black;
}
.button{
    margin: 5px;
    height: 60px;
    width: 200px;
    background-color: #484f4f;   
    border: 1px solid whitesmoke;
    text-align: center;     
}
span{
    align-self: center;
    color: #e0e2e4;
    font-size: 40px;
    text-decoration-line: none;
}
@media only screen and (max-width:768px){
    .container{
        flex-direction: column;
    }
} 